<div class="container">
	<h1 class="page_title">チーム一覧</h1>
	<table width="600" class="team_table">
		<thead>
			<tr>
				<th>市区町村</th>
				<th>チーム名</th>
				<th>人数</th>
			</tr>
		</thead>
		<% @teams.each do |team| %>
			<tbody>
				<tr>
					<td><%= team.city %></td>
					<td><%= link_to team.name, team_team_path(team) %></td>
					<td><%= team.member %></td>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>