<section id="main_visual">
	<div class="main_text">
		Base_matchは、チームを探している子どもたち(小学生)と、<br>
		選手を募集するチームとの出会いの場を設けたサイトです。<br>
		選手またはチームとしてご登録後にお楽しみください。
	</div>
	<div class="subtext">
		お客様同士のトラブルや、入団後のトラブルに関しましては<br>
		一切の責任を負い兼ねますのでご了承ください。
	</div>
</section>
<section id="about_player">
	<h1 class="section_title">Player</h1>
	<div class="section_text">
		<p>まずはお近くの気になるチームからチェックし、<br>
		チーム紹介、活動記録などを見てみましょう！</p>

		<p>気に入ったチームはまたいつでも見れるように、<br>
		ブックマーク登録ができます。</p>

		<p>チームとのコンタクトをご希望の方は<br>
		各チームへの連絡フォームがございますので<br>
		そちらをご利用ください。</p>
	</div>
</section>
<section id="about_team">
	<h1 class="section_title">Team</h1>
	<div class="section_text">
	</div>
</section>
<section id="about_story">
	<h1 class="section_title">Story</h1>
	<div class="section_text">
	</div>
</section>
<section id="about_profile">
	<h1 class="section_title">Profile</h1>
</section>
<section id="about_contact">
	<h1 class="section_title">Contact</h1>
</section>