<div class="container">
	<div class="message_area">
		<h1 class="complete_message">
			メール送信が完了しました！
		</h1>
		<h2 class="complete_sub_message">
			<%= link_to @team.name, team_team_path(@team) %>さんからのご連絡をお待ちください。
		</h2>
	</div>
</div>