/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

// 全体共通

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

.clearfix ::after {
	content: "";
	display: block;
	clear: both;
}

.back_btn {
	float: right;
}

html, body {
	margin: 0;
    padding: 0;
	height: 100%; // フッターを最下位で固定するための設定
	.wrapper {
		position: relative;
	    min-height: 100%; // 最低の高さ設定
	    header {
	    	width: 100%;
			height: 90px;
			position: fixed;
			top: 0;
			background: rgba(0, 0, 0, 0.8);
			.header_logo {
				text-align: center;
				font-size: 45px;
				color: #fff;
			}
			.nav_list {
				width: 60%;
				margin: 0 auto;
				display: flex;
				.nav_list_item {
					margin-right: 30px;
				}
			}
		}
		main {
			padding: 90px 0 100px; // padding-topにヘッダー分の高さを入れることでヘッダー固定時のズレを解消。
		}
		footer {
			width: 100%;
			height: 90px;
			background-color: #ddd;
			position: absolute;
			bottom: 0;
			#about_contact {
				margin: 0 auto;
				width: 70%;
				.footer_section_title {
					text-align: center;
					padding-top: 7px;
					margin: 0;
					font-size: 23px;
				}
				.contact_area {
					font-size: 17px;
					display: flex;
					.contact_left {
						margin: 0 auto;
						width: 50%;
					}
					.contact_right {
						margin: 0 auto;
						display: flex;
						.fab {
							font-size: 25px;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}

.container {
	width: 85%;
	.page_title {
		font-size: 25px;
		padding-left: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid #E1A253;
	}
}

// 退会ページ(共通)

.exit_page {
	padding: 100px;
	text-align: center;
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 20px;
	}
}

// 新規登録＆ログイン画面

.signup_table, .login_table {
	margin: 30px auto;
	th {
		line-height: 50px;
	}
	td {
	}
}

.team_signup_table {
	margin: 20px auto;
	th {
		line-height: 37px;
	}
}

.col-xs-6 {
	.introduction_area {
	}
}

// アバウト＆トップ画面(共通)

#main_visual {
	margin-top: -90px; // 上３行はヘッダー分の高さを + - し、ヘッダー固定時のズレを解消。
	padding-top: 90px;
	height: 590px;
	text-align: center;
	background-image: url(メインビジュアル.jpg);
	background-size: cover;
	.main_text {
		font-size: 25px;
		margin: 70px 0;
	}
	.subtext {
		font-size: 15px;
	}
}

.section_title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #1BD2FA;
}

.section_text {
	font-size: 20px;
	p {
		margin: 30px 0;
	}
}

#about_player {
	margin: 0 auto;
	text-align: center;
	height: 700px;
	width: 70%;
	.player_img_boxs {
		display: flex;
		.player_box_item1 {
			margin: 0 auto;
			height: 250px;
			width: 250px;
			background-image: url(player1.jpg);
			background-size: cover;
		}
		.player_box_item2 {
			margin: 0 auto;
			height: 250px;
			width: 250px;
			background-image: url(player2.jpg);
			background-size: cover;
		}
		.player_box_item3 {
			margin: 0 auto;
			height: 250px;
			width: 250px;
			background-image: url(player3.jpg);
			background-size: cover;
		}
	}
}

#about_team {
	margin: 0 auto;
	text-align: center;
	height: 900px;
	width: 70%;
	.team_img_boxs {
		margin: 0 auto;
		width: 880px;
		display: flex;
		flex-wrap: wrap;
		.team_box_item1 {
			margin: 10px auto;
			height: 200px;
			width: 400px;
			background-image: url(team1.jpg);
			background-size: cover;
			background-position: center;
		}
		.team_box_item2 {
			margin: 10px auto;
			height: 200px;
			width: 400px;
			background-image: url(team2.jpg);
			background-size: cover;
			background-position: center;
		}
		.team_box_item3 {
			margin: 10px auto;
			height: 200px;
			width: 400px;
			background-image: url(team3.jpg);
			background-size: cover;
			background-position: center;
		}
		.team_box_item4 {
			margin: 10px auto;
			height: 200px;
			width: 400px;
			background-image: url(team4.jpg);
			background-size: cover;
			background-position: center;
		}
	}
}

#about_story {
	margin: 0 auto;
	text-align: center;
	height: 880px;
	width: 70%;
}

#about_profile {
	margin: 0 auto;
	height: 400px;
	width: 70%;
	.profile_area {
		display: flex;
		.profile_left {
			margin: 0 auto;
			width: 50%;
			.profile_image {
				height: 200px;
				width: 200px;
				background-color: #E3B5ED;
				border-radius: 50%;
			}
		}
		.profile_right {
			margin: 0 auto;
		}
	}
}

// プレイヤー詳細(マイページ)

.fa-cog {
	font-size: 18px;
	padding-right: 30px;
	float: right;
}

.mypage_table {
	tr {
		line-height: 30px;
		th {
			text-align: center;
			font-size: 15px;
		}
	}
}

.near_team {
	display: flex;
	.team_box {
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

// プレイヤー側チーム詳細

.player_teams_information_top {
	display: flex;
	width: 100%;
	height: 50px;
	.category, .member {
		font-size: 18px;
		margin: 10px auto;
		line-height: 50px;
	}
	.name {
		font-size: 30px;
		margin: 10px auto;
	}
}

// チーム詳細(マイチーム)

.team_information {
	width: 900px;
	margin: 0 auto;
	.information_top {
		display: flex;
		width: 350px;
		margin: 0 auto;
		h2 {
			margin: 10px 30px;
		}
	}
	.team_image {
		margin-top: 5px;
	}
	.team_introduction {
		font-size: 18px;
		margin: 10px 0 20px;
	}
}

// チーム一覧

.seach {
	float: right;
}

.team_table {
	margin: 0 auto;
	font-size: 18px;
	th {
		line-height: 40px;
	}
}

// チーム編集

.team_image_edit_area {
	width: 500px;
	.img_attachment {
		margin-top: 5px;
		font-size: 10px;
		float: right;
	}
	.team_info {
		margin: 20px 0 10px;
	}
	.introduction_area {
		height: 200px;
		width: 100%;
	}
}


.team_edit_table {
	margin: 10px auto;
	th {
		line-height: 40px;
	}
	.edit_password {
		padding-bottom: 20px;
	}
}

// 新規投稿

.post_title_form {
	width: 80%;
	margin-bottom: 15px;
}

.post_body_form {
	width: 80%;
	height: 300px;
}

// 投稿一覧(共通)

.post_table {
	margin: 0 auto;
	font-size: 18px;
	th {
		line-height: 40px;
	}
	.glyphicon-pencil {
		margin-right: 10px;
	}
}

// 投稿詳細(共通)

.post_show_team_name {
	font-size: 25px;
}

.post_show_box {
	width: 800px;
	margin: 0 auto;
	.post_title {
		font-size: 25px;
		text-align: center;
	}
	.post_date {
		float: right;
		font-size: 15px;
		margin-bottom: 15px;
	}
	.post_img {
		text-align: center;
	}
	.post_body {
		margin: 30px 0;
		font-size: 18px;
	}
}