// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// アバウト＆トップ画面(共通)
#main_visual {
	margin-top: -90px; // 上３行はヘッダー分の高さを + - し、ヘッダー固定時のズレを解消。
	padding-top: 50px;
	height: 600px;
	text-align: center;
	background-image: image-url("main.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	.drawer {
		display: none;
	}
	.main_btn {
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.8);
		width: 180px;
		height: 180px;
		line-height: 180px;
	}
	.player_sign_up_btn, .team_sign_up_btn, .main_player_login, .main_team_login {
		opacity: 0;
		animation-name: fade-in;
    animation-duration: 0.3s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 8.5s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
		position: absolute;
	}
	.player_sign_up_btn {
		top: 80px;
		right: 270px;
	}
	.team_sign_up_btn {
		top: 80px;
		right: 70px;
	}
	.main_player_login {
		left: 150px;
		bottom: 100px;
	}
	.main_team_login {
		left: 150px;
		bottom: 70px;
	}
	.main_left {
		opacity: 0;
		animation-name: fade-in2;
    animation-duration: 3s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 1s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
		color: #fff;
		font-size: 20px;
		position: absolute;
		top: 70px;
		left: 80px;
	}
	.main_center {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 80%;
		height: 150px;
		color: #fff;
		.main_text {
			opacity: 0;
			animation-name: fade-in;
	    animation-duration: 3.5s; //アニメーション時間
	    animation-timing-function: ease-out; //アニメーションさせるイージング
	    animation-delay: 5s; //アニメーション開始させる時間
	    animation-iteration-count: 1; //繰り返し回数
	    animation-direction: normal; //往復処理をするかどうか
	    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
			font-size: 50px;
			margin-bottom: 50px;
			&:first-letter {
				color: #FB1508;
				font-size: 65px;
			}
		}
		.subtext {
			color: #E1F6F2;
			opacity: 0;
			animation-name: fade-in;
	    animation-duration: 0.3s; //アニメーション時間
	    animation-timing-function: ease-out; //アニメーションさせるイージング
	    animation-delay: 8.5s; //アニメーション開始させる時間
	    animation-iteration-count: 1; //繰り返し回数
	    animation-direction: normal; //往復処理をするかどうか
	    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
			font-size: 50px;
			margin-bottom: 50px;
			font-size: 16px;
		}
	}
	.main_right {
		opacity: 0;
		animation-name: fade-in3;
    animation-duration: 3s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 3s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
		color: #fff;
		font-size: 20px;
		position: absolute;
		bottom: 70px;
		right: 80px;
	}
	// アニメーション
	@keyframes fade-in {
	    0% {
		    opacity: 0;
		    transform: translate3d(0, 0, 0);
	    }
	    100% {
		    opacity: 1;
		    transform: translate3d(0, 0, 0);
	    }
	}
	@keyframes fade-in2 {
	    0% {
		    opacity: 0;
		    transform: translate3d(0, -30px, 0);
	    }
	    100% {
		    opacity: 1;
		    transform: translate3d(0, 0, 0);
	    }
	}
	@keyframes fade-in3 {
	    0% {
		    opacity: 0;
		    transform: translate3d(0, 30px, 0);
	    }
	    100% {
		    opacity: 1;
		    transform: translate3d(0, 0, 0);
	    }
	}
}

.header_ber {
	height: 70px;
	font-size: 15px;
	position: -webkit-sticky; // 位置固定
	position: sticky;
	top: 0;
	z-index: 10;
	background: rgba(225, 225, 225, 0.9);
	ul {
		margin: 0 auto;
		width: 80%;
		display: flex;
		.li_area {
			margin: 0 auto;
			transition: all 1s;
			li a{ // aを付けるとarea全体がリンクになる。
				display: block;
				height: 70px;
				padding: 0 25px;
				line-height: 70px;
			}
			&:hover {
				background: rgba(0, 190, 255, 0.9);
			}
		}
	}
}

.section_title {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 10px;
	border-bottom: 2px solid #1BD2FA;
}

.section_text {
	font-size: 20px;
	p {
		margin: 80px 0;
	}
}

#about_story {
	margin: 0 auto;
	text-align: center;
	height: 870px;
	width: 80%;
	.story_boxes {
		display: flex;
		.story_box {
			margin: 0 auto;
			width: 22%;
			border: 2px solid #eee;
			.story_box_top {
				font-size: 15px;
				color: #333;
				font-weight: bold;
				height: 150px;
				line-height: 150px;
				background-size: cover;
				background-position: center;
			}
			.story_box_title1 {
				background-image: image-url("story1.jpg");
			}
			.story_box_title2 {
				background-image: image-url("story2.jpg");
			}
			.story_box_title3 {
				background-image: image-url("story3.jpg");
			}
			.story_box_title4 {
				background-image: image-url("story4.jpg");
			}
			.story_box_body {
				font-size: 14px;
				line-height: 23px;
				margin: 10px auto;
				text-align: left;
				width: 95%;
			}
		}
	}
}

#about_player {
	margin: 0 auto;
	text-align: center;
	height: 1900px;
	width: 80%;
	.player_box {
		width: 90%;
		height: 350px;
		display: flex;
		margin: 20px auto;
		.box_text_area {
			width: 30%;
			margin: 90px auto;
			.player_box_text {
				height: 100%;
				font-size: 17px;
				line-height: 30px;
			}
		}
		.player_box_top {
			margin: 10px auto;
			height: 250px;
			width: 350px;
			background-size: cover;
			box-shadow: 10px 15px 10px rgba(0,0,0,0.25);
		}
		.player_box_img1 {
			background-image: image-url("player1.jpg");
		}
		.player_box_img2 {
			background-image: image-url("player2.jpg");
		}
		.player_box_img3 {
			background-image: image-url("player3.jpg");
		}
		.player_box_img4 {
			background-image: image-url("player4.jpg");
		}
		p {
			font-size: 20px;
		}
	}
}

#about_team {
	margin: 0 auto;
	text-align: center;
	height: 930px;
	width: 80%;
	.team_boxes {
		display: flex;
		margin-bottom: 30px;
		.team_box_area {
			width: 33%;
			.team_box_top {
				margin: 0 auto;
				height: 200px;
				width: 320px;
				background: #000;
				position: relative;
				.box_top_image {
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					background-size: cover;
					background-position: center;
					opacity: 0.5;
				}
				.team_box_img1 {
					background-image: image-url("team1.jpg");
				}
				.team_box_img2 {
					background-image: image-url("team2.jpg");
				}
				.team_box_img3 {
					background-image: image-url("team3.jpg");
				}
				p {
					width: 100%;
					height: 30px;
					font-size: 18px;
					letter-spacing: 3px;
					color: #fff;
					font-weight: bold;
					text-align: center;
					// 位置の設定　- 上下中央寄せ
					position: absolute;
			    margin: auto;
			    top: 0;
			    bottom: 0;
				}
			}
			.team_box_text {
				text-align: left;
				margin: 10px auto;
				line-height: 23px;
				width: 300px;
			}
		}
	}
}