// Place all the styles related to the team/teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// プレイヤー側チーム詳細
.team_information {
	background: #fff;
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 20px;
	.player_teams_information_top {
		display: flex;
		width: 100%;
		height: 50px;
		.category, .member {
			font-size: 18px;
			margin: 10px auto;
			line-height: 50px;
		}
		.name {
			font-size: 30px;
			margin: 10px auto;
		}
	}
}

.fa-envelope { // post_showと共有したいからネストなし
	float: right;
	font-weight: bold;
	transition: .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.fa-envelope:hover { // 文字を強調する
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

// ここからチーム側と共通
.side_posts {
	position: -webkit-sticky; // 位置固定
	position: sticky;
	top: 70px;
	.side_table {
		margin-top: 50px;
		tr {
			line-height: 35px;
			th {
				text-align: center;
				font-size: 15px;
			}
			.post_title { // 反応がない
				transition: .3s;
				-webkit-transform: scale(1);
				transform: scale(1);
				text-overflow: ellipsis; // 領域をはみ出したテキストを三点リーダー（...）で省略表示する
			}
			.post_title:hover { // 文字を強調させる // 反応がない
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}


.post_index_path {
	margin-top: 30px;
	float: right;
	transition: .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.post_index_path:hover { // 文字を強調させる
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.address_table {
	margin: 20px 0;
	font-size: 15px;
	tr {
		line-height: 25px;
	}
}

#map {
	width: 900px;
	height: 500px;
}
// ここまでチーム側と共通

// チーム側チーム詳細(マイチーム)
.team_information {
	margin: 20px auto;
	background: #fff;
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 20px;
	.information_top {
		display: flex;
		width: 350px;
		margin: 0 auto;
		h2 {
			margin: 10px 30px;
		}
	}
	.team_image {
		margin-top: 5px;
	}
	.team_introduction {
		font-size: 18px;
		margin: 10px 0 20px;
	}
}